.content {
    width: 800px;
    height: 400px;
    text-align: center;
    font-size: 160%;
    border: solid;
    margin: auto;
    border-radius: 25px;
    padding: 20px;

}



button {
    background-color: white;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 15px 45px;
    font-size: 200%;
    font-family: "Bitter",serif;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 25px;
    padding: 100px;
}
button:focus {
    outline: none
}

.heading {
    font-size: 120%;
}
.about {
    font-size: 50%;
}


